.services{
    &__title{
        background: #FFFFFF;
        border: 0.5px solid #D6D2D2;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 1rem;
        span{
            text-decoration-line: underline;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &__list{
        background: #FFFFFF;
        border: 0.5px solid #D6D2D2;
        box-sizing: border-box;
        border-radius: 20px;
        margin-top: 1rem;
        padding: 1rem;
    }
    &__consultation{
        display: flex;
        flex-direction: column;
        span{
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &__all{
        display: flex;
        flex-direction: column;
        span{
            text-decoration-line: underline;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}