@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap&subset=cyrillic-ext');
@import "header.scss";
@import "article.scss";
@import "catalog.scss";
@import "list.scss";
@import "doc-profile.scss";
$fontFamily: "Roboto";

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1760;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

body{
    font-family: $fontFamily!important;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}
.img-fluid {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
  }  

  .main-news{
    &__img-wrap{
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 15px;
      overflow: hidden;
      flex-direction: column;
      h3,p{
        width: 100%;
        color: #FFFFFF;
        }
    }
    &__title{
      position: absolute;
      padding: 0 1rem;

    }
    &__description{
      padding-left: 2rem;
      span{
        font-weight: 500;
        font-size: 22px;
      }
    }
    &__cl-3-description{
      display: flex;
      text-align: center;
      flex-direction: column;
      height: 100%;
      justify-content: center
    }
  }

  .sub-news{
      &__title{
        border: 0.5px solid #D6D2D2;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 1rem;
        margin: 1rem 0;
      }
  }
  @media screen and(max-width: 576px){
    .wrapper{
      padding: 0;
    }
}

  


