$main-font-family: "Roboto";

$font-weigth-xl: 900;
$font-weigth-lg: 700;
$font-weigth-lg-1: 600;
$font-weigth-md: 500;
$font-weigth-sm: 400;

$font-size-xxl: 36px;
$font-size-xxl-2: 30px;
$font-size-xxl-4: 26px;
$font-size-xl: 24px;
$font-size-xl_1: 22px;
$font-size-lg: 20px;
$font-size-md_1: 18px;
$font-size-md_2: 16px;
$font-size-md_3: 14px;
$font-size-md_4: 17px;
$font-size-sm: 12px;
$font-size-sm-1: 10px;
$font-size-xs: 8px;


$body-color: #E5E5E5;
$main-bg-color: #FFFFFF;
$bg-color-1: #050505;
$bg-color-2: #FFE3E3;
$bg-color-3: black;
$bg-color-4: #4AD0D3;
$bg-color-5: #FBFFD1;
$bg-color-6: #7773FF;
$bg-color-7: #5ca1ce;

$promo-main-color: #FF8C67;
$color-text-light: #FFFFFF;
$main-text-color: #121127;
$time-font-color: #FFFFFF;
$description-font-color: rgba(18, 17, 39, 0.6);
$time-wrap-bg-color: #4AD0D3;
$title-profile-font-color: #414141;
$color-text-sr: #001b36;
$color-text-catalog: #444BD3;
$doc-clinic-color: #444BD3;
$color-text-catalog-1: #505050;

$xxl-border-radius: 100px;
$xl-border-radius: 20px;
$lg-border-radius: 12px;
$md-border-radius: 8px;
$main-border-radius: 10px;
$sub-border-radius: 5px;

$main-news-title-letter-spascing: 0.025em;
$title-letter-spascing: -0.005em;

$title-letter-height: 25px;
$description-line-height: 160%;
$line-height-1: 140%;
$line-height-2: 115%;
$line-height-3: 100%;
$line-height-4: 180%;
$line-height-5: 16px;
$line-height-6: 28px;

$padding-xxl-1: 80px;
$padding-xxl: 40px;
$padding-xxl-1: 30px;
$padding-xxl-2: 48px;
$padding-xxl-3: 32px;
$padding-xl: 20px;
$padding-xl-1: 24px;
$padding-lg: 16px;
$padding-lg-1: 15px;
$padding-lg-2: 12px;
$padding-lg-3: 14px;
$padding-md: 10px;
$padding-md-1: 8px;
$padding-sm: 5px;
$padding-sm-1: 2px;
$padding-sm-2: 3px;

$margin-xxl: 40px;
$margin-xl: 20px;
$margin-xl-1: 16px;
$margin-lg: 15px;
$margin-md_1: 10px;
$margin-md_2: 7px;
$margin-md_3: 8px;
$margin-md_4: 6px;
$margin-sm: 5px;
$margin-xs: 2px;

$gap-xl: 20px;
$gap-lg: 10px;


$--primary-color: #0E4BF1;
$--panel-color: #FFF;
$--text-color: #000;
$--black-light-color: #707070;
$--border-color: #e6e5e5;
$--toggle-color: #DDD;
$--box1-color: #4DA3FF;
$--box2-color: #FFE6AC;
$--box3-color: #E7D1FC;
$--title-icon-color: #fff;

/* ====== Transition ====== */
$--tran-05: all 0.5s ease;
$--tran-03: all 0.3s ease;
$--tran-03: all 0.2s ease;