.services__title {
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 1rem;
}

.services__title span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.6);
}

.services__list {
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 1rem;
}

.services__consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__consultation span {
  color: rgba(0, 0, 0, 0.6);
}

.services__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__all span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.6);
}
