#select-wrap {
  padding: 0 !important;
  margin: 0 !important;
}

#city {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

#city select {
  background: #FFDBDB;
  border: 0.5px solid #D6D2D2;
  border-radius: 20px;
  outline: none;
}

#doctor-spec {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
}

#doctor-spec select {
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  border-radius: 20px;
  outline: none;
}

#sub-select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  border-radius: 20px;
  padding: 0;
}

#sub-select-wrap select {
  border: none;
  outline: none;
}

.icon-arrow-wrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon-arrow {
  width: 26px;
  height: 26px;
}

.title {
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.title span {
  color: rgba(65, 65, 65, 0.6);
}

.filter__search {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__ctn-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85%;
          flex: 0 0 85%;
}

.filter__search-form {
  width: 100%;
  display: contents;
}

.filter__input {
  width: 100%;
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.filter__btn-search {
  background: #FFDBDB;
  border: 0.5px solid #D6D2D2;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
}

.filter__select-container {
  margin-top: 1rem;
}

.filter__select-container li {
  list-style-type: none;
}

.filter__select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__select {
  width: 100%;
  padding: 0.5rem 1rem;
}

.filter__description {
  margin-top: 1rem;
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  border-radius: 20px;
  padding: 1rem;
}

.doc-list {
  margin-top: 1rem;
}

.doc-list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2fr;
      grid-template-columns: auto 2fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  border-radius: 20px;
}

.doc-list__img-wrap {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.doc-list__img {
  width: 130px;
  height: 150px;
}

.doc-list__item-description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.doc-list__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 115%;
  color: #414141;
  margin-bottom: 5px;
}

.doc-list__item-spec {
  color: rgba(0, 0, 0, 0.6);
}

.doc-list__item-exp {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.doc-list__item-exp span {
  padding: 5px 10px;
}

.doc-list__item-exp-itm {
  margin: 5px;
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.doc-list__contacts {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.doc-list__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
}

.doc-list__item-price #price {
  font-weight: 500;
  color: #414141;
}

.doc-list__item-address {
  margin-bottom: 10px;
}

.doc-list__item-address #address {
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

.doc-list__item-address .address-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doc-list__item-address .addres-description {
  text-align: start;
}

.doc-list__item-address .address-icon-place {
  max-width: 100%;
  height: 19px;
  width: 18px;
}

.doc-list__item-address .address-selected {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-left: 5px;
}

.doc-list__item-phone #phone {
  background: #FFFFFF;
  border: 0.5px solid #D6D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}

.doc-list__item-phone .phone-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doc-list__item-phone .phone-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doc-list__item-phone .icon-phone {
  width: 23px;
  height: 23px;
}

.doc-list__item-phone .phone-selected {
  margin-left: 5px;
}
